
@media only screen {

    #autoPlay {
        width: 20%;
        right: 0;
        position: absolute;
    }

    #lives {
        width: 20%;
        right: 25%;
        top: 12px;
        position: absolute;
    }

    #inf {
        width: 15%;
        right: 42%;
        top: 7px;
        position: absolute;
    }

    .mainDiv {
        float: left;
        z-index:1;
        position: relative;
        background-color: black;
    }

    #main {
        width: 100%;
        vertical-align: bottom;
        padding-top: 20%;
    }

    .clrBtn {
        width: 25%;
        bottom: 3%;
        z-index:1;
        position: absolute;
    }

    #redBtn {
        left: 5%;
    }

    #blackBtn {
        right: 5%;
    }

    #selectedCard {
        width: 22%;
        right: 28%;
        bottom: 0;
        position: absolute;
        visibility: hidden;
        transform-style: preserve-3d;
        transition: all 0.4s linear;
    }

    #result {
        width: 22%;
        right: 28%;
        bottom: 0;
        position: absolute;
        display: none;
    }
    #level{
        width:100%;
        bottom:0;
        z-index:0;
        position:absolute;
        display:none;
    }
}

@media (min-width: 480px) {
    #main {
        content: url("images/RED_or_BLACK_PC_bg.jpg");
        padding-top: inherit;
    }

    .clrBtn {
        width: 7%;
    }

    #redBtn {
        left: 37%;
    }

    #blackBtn {
        right: 37%;
    }

    #autoPlay {
        width: 4%;
        bottom: 1px;
        right: 30%;
    }

    #lives {
        width: 5%;
        right: 66%;
        top: 91%;
        position: absolute;
    }

    #inf {
        width: 3%;
        right: 71%;
        top: 91%;
        position: absolute;
    }

    #selectedCard {
        width: 6.5%;
        right: 43.5%;
    }

    #result {
        width: 6.5%;
        right: 43.5%;
    }
}
