/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@media only screen {

    h1 {
        position: absolute;
        color: #ffffff;
        font: -webkit-mini-control;
        font-weight: bold;
        padding-top: 23%;
        text-align: center;
        width: 100%;
        font-size: 4.5vw;
    }

        h1 span {
            color: #ff0000;
        }

    html, body, #mainDiv {
        height: 100%;
    }

    body {
        background: #000;
        position: relative;
    }

    #autoPlay {
        width: 18%;
        right: 0;
        position: absolute;
        z-index: 1;
    }

    #lives {
        width: 20%;
        right: 21%;
        top: 12px;
        position: absolute;
    }

    #inf {
        width: 10%;
        right: 40%;
        top: 15px;
        position: absolute;
        z-index: 1;
    }

    .mainDiv {
        z-index: 1;
        position: relative;
        background-color: #1b1818;
    }

    #main {
        width: 100%;
        vertical-align: bottom;
        padding-top: 18%;
    }

    .clrBtn {
        width: 28%;
        bottom: 0;
        z-index: 1;
        position: absolute;
    }

    #redBtn {
        left: 0;
    }

    #blackBtn {
        right: 0;
    }

    #selectedCard {
        width: 22%;
        right: 28%;
        bottom: 0;
        position: absolute;
        visibility: hidden;
        transform-style: preserve-3d;
        transition: all 0.4s linear;
    }

    #result {
        width: 22%;
        right: 28%;
        bottom: 0;
        position: absolute;
        display: none;
    }

    #level {
        width: 100%;
        bottom: 0;
        z-index: 0;
        position: absolute;
        display: none;
    }

    #ldr {
        width: 25%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .loader {
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        z-index: 10000;
        position: absolute;
    }

    #hlpImg {
        position: absolute;
        width: 100%;
        z-index: 1000;
        padding-top: 18%;
    }
    .end-game-modal {
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        z-index: 10000;
        position: absolute;
        color:#ffffff;
        height:100%;
        text-align:center;
        display:none;
    }
    #win-lose-modal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

@media (min-width: 480px) {
    h1 {
        padding-top: 2%;
        font-size: 1.5vw;
    }

    #main {
        content: url("images/RED_or_BLACK_PC_bg.jpg");
        padding-top: inherit;
        bottom: 0;
    }

    .clrBtn {
        width: 8%;
    }

    #redBtn {
        left: 35.5%;
    }

    #blackBtn {
        right: 35.5%;
    }

    #autoPlay {
        width: 4%;
        bottom: 0;
        right: 30.5%;
    }

    #lives {
        width: 4.7%;
        right: 66%;
        top: 91.1%;
    }

    #inf {
        width: 3%;
        right: 71%;
        top: 91%;
    }

    #selectedCard {
        width: 6.5%;
        right: 43.5%;
    }

    #result {
        width: 6.5%;
        right: 43.5%;
    }

    #ldr {
        width: 10%;
    }

    #hlpImg {
        content: url("images/RED_or_BLACK_PC_Help.png");
        padding-top: initial;
    }
}
